# Web framework
setuptools>=68.0.0
fastapi==0.111.1

uvicorn[standard]==0.24.0

# Data processing
pandas==2.1.1
numpy==1.26.0

# PySpark for Spark-based processing
pyspark==3.5.1

# MLflow for model loading
mlflow==2.7.1

# Optional: Scikit-learn if your model depends on it
scikit-learn==1.3.0

# Optional: For type checking and validation
pydantic==2.4.2

# Optional: For logging
python-json-logger==2.0.7
